<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400|Open+Sans|Russo+One" rel="stylesheet">

  <link rel="stylesheet" href="./assets/css/style_cv.css">
  <title>CV</title>
</head>

<body>
  <div class="container-fluid">
    <!-- <div id="fond_cv"><img  src="fond_cv.jpg" ></img></div> -->
    <div class="row">
      <header class="col-lg-4 col-md-4 col-xs-4 text-right " id="menu-gauche" class="row">
        <div id="identite">
          <h1> Ahmed <span id="nom">BENLEBNA</span></h1>
          <h2>D&#233;veloppeur web full stack js</h2>
        </div>
        <!-- Navigation -->
        <nav>
          <ul>
            <li><a class="page-scroll" href="#presentation">présentation <span><i class="fa fa-id-card-o"
                    aria-hidden="true"></i></span></a></li>
            <li><a class="page-scroll" href="#competences">compétences <span><i class="fa fa-suitcase"
                    aria-hidden="true"></i></span></a></li>
            <li><a class="page-scroll" href="#experiences">expériences <span><i class="fa fa-flask"
                    aria-hidden="true"></i> </span></a></li>
            <li><a class="page-scroll" href="#formation">formation <span><i class="fa fa-graduation-cap"
                    aria-hidden="true"></i></span></a></li>
            <li><a class="page-scroll" href="#langues">langues <span><i class="fa fa-comment"
                    aria-hidden="true"></i></span></a></li>
            <li><a class="page-scroll" href="#contact">Contact <span><i class="fa fa-envelope"
                    aria-hidden="true"></i></span></a></li>
            <li><a class="page-scroll" href="#">cv <span><i class="fa fa-file-text" aria-hidden="true"></i></span></a>
            </li>
            <li><a href="index.html">Jeu <span><i class="fa fa-gamepad" aria-hidden="true"></i></span></a></li>
          </ul>
        </nav>
      </header>

      <!-- Présentation  -->
      <section class="col-lg-5 col-lg-offset-5" id="corps">
        <div class="taille">
          <div id="presentation">
            <img class="img-responsive " src="./assets/images/moi_cv.jpg"
              alt="photo cool, en gros plan, de moi en train de prendre une photo">
            <div class="arriere text-white">
              <div class="bloc" id="gauche">
                <h4>A Propos</h4>
                <p class="text-white">Trentenaire dynamique enrichi de mes expériences passées, j'ai trouvé ma voie : un
                  métier dans lequel je m'épanouis pleinement. Jeune pousse dans la programmation, je suis toujours à la
                  recherche des dernières tendances pour rester sur la bonne voie. Sérieux et organisé dans mon travail,
                  je pense apporter une bonne ambiance dans un groupe grace à ma bonne humeur.</p>
              </div>
              <div class="bloc text-white">
                <h4>Sinon</h4>
                <p> Photographe à mes heures perdues. Jetez un oeil à mon <a
                    href="https://www.linkedin.com/in/ahmed-benlebna/">LinkedIn</a>, ajoutez-moi et n'hésitez pas à me
                  contacter si vous voulez plus de renseignements.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Competences -->

        <div class="taille">
          <div class="arriere" id="competences">
            <h4 class="text-white">Compétences</h4>
            <h3 class="progress-title text-white">HTML <i class="fa fa-html5" aria-hidden="true"></i>/ CSS <i
                class="fa fa-css3" aria-hidden="true"></i></h3>
            <div class="progress skill-bar ">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100">
                <span class="skill"> <i class="val"></i></span>
              </div>
            </div>
            <h3 class="progress-title text-white">javascript</h3>
            <div class="progress skill-bar">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100">
                <span class="skill"><i class="val"></i></span>
              </div>
            </div>
            <h3 class="progress-title text-white">Node Js</h3>
            <div class="progress skill-bar">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                aria-valuemax="100">
                <span class="skill"><i class="val"></i></span>
              </div>
            </div>
            <h3 class="progress-title text-white">framework</h3>
            <div class="progress skill-bar">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="63" aria-valuemin="0"
                aria-valuemax="100">
                <span class="skill"><i class="val"></i></span>
              </div>
            </div>
            <h3 class="progress-title text-white">r&#233;f&#233;rencement</h3>
            <div class="progress skill-bar">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100">
                <span class="skill"><i class="val"></i></span>
              </div>
            </div>
          </div>
        </div>

        <!-- Experiences -->
        <div class="taille text-white row " id="experiences">
          <div class="arriere col-lg-12 ">
            <h4>Expériences</h4>

            <div class="col-md-12">
              <h5>Technicien de maintenance des systèmes automatisés</h5>
              <p>CLEAN CAR sarl</p>
              <p>2008 - 2016</p>
            </div>

            <div class="col-md-12">
              <h5>Monteur – contrôleur</h5>
              <p>GILSON s.a.s</p>
              <p>2006</p>
            </div>

            <div class="col-md-12">
              <h5>Manutentionnaire</h5>
              <p>MANPOWER</p>
              <p>2005</p>
            </div>

            <div class="col-md-12">
              <h5>Agent recenseur</h5>
              <p>Mairie d’Ezanville</p>
              <p>2005</p>
            </div>
          </div>
        </div>

        <div class="taille" id="formation">
          <div class="arriere text-white">
            <div>
              <h4>Formation</h4>
              <h5>DEVELOPPEUR FULLSTACK JS</h5>
              <p>2017 Diplôme RNCP NIVEAU II</p>
              <p>IFOCOP Paris, Responsable de formation:
                Fabienne THIRY - 01 40 21 83 78 - fthiry@ifocop.fr</p>
            </div>

            <hr style="border: 1px solid white">

            <div>
              <h5>INTEGRATEUR WEB</h5>
              <p>2016 </p>
              <p>ESIC, Paris 14éme.</p>

            </div>
          </div>
        </div>

        <div class="taille" id="langues">
          <div class="arriere text-white">
            <h4>Langues</h4>
            <p>Anglais professionel.</p>
            <p>Francais langue maternelle.</p>
          </div>
        </div>

        <div class="taille" id="contact">
          <div class="arriere text-white">
            <h4>Contact</h4>
            <div class="row text-white">
              <div class="col-md-6 bloc" class="gauche">
                <p> N'hésitez pas à me contacter. Je suis disponible tous les jours de la semaine sauf le dimanche, jour
                  de repos.</p><br>
                <p><b>Email</b>: <i>ahmed.benlebna@gmail.com</i></p><br>
                <p><b>Tel</b>: <i>06.98.07.68.66</i></p><br>
                <p><a href="https://codepen.io/ahmedLePatapon/#"><i class="fa fa-codepen" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/ahmed-benlebna/"><i class="fa fa-linkedin-square"
                      aria-hidden="true"></i></a>
                  <a href="https://www.flickr.com/photos/92606208@N03/"><i class="fa fa-flickr"
                      aria-hidden="true"></i></a></p><br><br>
              </div>
              <form class="col-md-6 ">
                <div class="form-group">
                  <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Nom">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                <button type="submit" class="btn btn-default">ENVOYER</button>
                <p style="margin-top:15px"><i>Désolé ce formulaire ne fonctionne pas encore, utilisez directement mon <a
                      href="mailto:ahmed.benlebna@gmail.com">adresse mail</a> ou via <a
                      href="https://www.linkedin.com/in/ahmed-benlebna/">LinkedIn</a></i></p>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  <script src="./assets/js/script_cv.js"></script>
</body>
</html>